/* ===========================
 * Header
 * ===========================
 */

.header
    background-image: url(./img/header-bg.png)
    background-position: center center
    padding-top: 50px

.header--fix
    position: fixed
    height: 65px

.header-logo
    +span(2 of 16)
    background: url(./img/logo.png) no-repeat center center
    height: 70px
    text-indent: 9999px
    margin-bottom: 60px

.header-menu
    +span(14 of 16 last)
    text-align: right
    line-height: 70px
    a
        margin-left: 70px
        @media screen and (max-width: $width-large)
            margin-left: 30px

.header-about
    clear: both
    h1
        +single-text-shadow(1px, 1px, 2px, false, #000)
        font-size: 3em
        font-weight: bold
        color: #fff
        margin-bottom: 60px
        @media screen and (max-width: $width-large)
            font-size: 2em
            margin-bottom: 30px
    h2
        @extend h1
        font-size: 3em
        font-weight: normal
        margin-bottom: 50px
        margin-left: 60px
        @media screen and (max-width: $width-large)
            font-size: 2em
            margin-bottom: 25px
    @media screen and (max-width: $width-large)
        padding-left: 40px
