@import base

+border-box-sizing

body
    font-family: 'Merriweather Sans', sans-serif

.row
    +container($width)
    min-width: $width

.header
    min-width: $width
    background-image: url(../img/header-bg.png)
    background-position: center center
    padding-top: 50px

.header--fix
    position: fixed
    height: 65px

.header-logo
    +span(2 of 16)
    background: url(../img/logo.png) no-repeat center center
    height: 70px
    text-indent: 9999px
    margin-bottom: 60px

.menu--link
    color: #fff
    padding: 10px
    text-decoration: none
    text-transform: uppercase
    &:hover
        text-decoration: underline

.header-menu
    +span(14 of 16 last)
    text-align: right
    line-height: 70px
    a
        margin-left: 70px

.header-about
    clear: both
    h1
        +single-text-shadow(1px, 1px, 2px, false, #000)
        font-size: 3em
        font-weight: bold
        color: #fff
        margin-bottom: 60px
    h2
        @extend h1
        font-size: 3em
        font-weight: normal
        margin-bottom: 50px
        margin-left: 60px

.menu
    text-align: center
    height: 150px
    margin: 0 auto
    width: 100%
    position: absolute
    bottom: 0
    z-index: 1
    a
        position: relative
        top: -125px
        margin: 0 40px

.menu--fix
    position: fixed
    top: -50px
    background: url(../img/header-bg.png) center bottom no-repeat
    a
        opacity: 1

.home
    font-family: 'Merriweather', serif
    +clearfix()
    article
        text-align: center
        h2
            font-size: 3em
            margin: 1em 0
        p
            font-size: 1.4em
            line-height: 2em

.home--dev
    background: url(../img/dev.png) repeat-x 20% 100%
    @media screen and (max-width: 960px)
        background: url(../img/dev-bg.png)
    article
        +pre(7 of 16)
        +span(9 of 16 last)
        color: #fff
        margin: 100px auto


.home--graph
    article
        +span(1 of 1)

.home--photo
    article
        +span(9 of 16)

.home--divider
    height: 500px
    +clearfix()
    img
        position: relative
        bottom: 25%
        z-index: 0
